<p id="notice"><%= notice %></p>

<table class="table table-striped table-borderless table-hover">
  <thead>
    <tr>
      <th class="table-dark" colspan="1">DADOS DO CLIENTE</th>
      <th class="table-dark" colspan="1">RAZÃO SOCIAL</th>
      <th class="table-dark" colspan="2">CNPJ</th>
      
    </tr>
  </thead>
  
  <% @dados.each do |dado| %>
    <tbody>
    <tr>
      <th scope="row"><%= dado.nomef %></th>
      <td><%= dado.razao %></td>
      <td><%= dado.cnpj %></td>
      <td class="d-flex justify-content-end"><%= link_to 'Visualizar', dado %>...<%= link_to 'Editar', edit_dado_path(dado) %>...<%= link_to 'Apagar', dado, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
    </tr>

  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novos dados', new_dado_path %>

